@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
 	margin: 0;
  	box-sizing: border-box;
}

body {
  	font-family: Raleway, Arial, sans-serif;
  	font-size: 16px;
}
/*
***********************************
	header start
***********************************
*/
#reverse-lines {
	position: fixed;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	top: 2.5%;
  	right: 8%;
  	width: 50px;
  	height: 30px;
	z-index: 100;
}

.navbar {
	height: 0px;
	width: 100%;
	position: fixed;
	/*background-color: rgba(23, 30, 39, 0.9);*/
	/*#2c2541*/
  	z-index: 1;
  	opacity: 0;
  	visibility: hidden;
  	-o-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	transition: all 0.3s ease-out;
}

.navbar-show {
	opacity: 1;
	height: 8.5vh;
	visibility: visible;
}

.navbar-list {
	padding: 0;
	display: grid;
	width: 100%;
	grid-template-rows: 1fr;
  	grid-template-columns: repeat(4, 200px);
  	justify-content: center;
  	align-items: center;
  	height: 100%;
}

.nav-item {
	list-style: none;
	text-align: center;
}

.nav-link {
	text-decoration: none;
  	padding-top: 55px;
  	padding-right: 20px;
  	padding-left: 15px;
  	font-size: 1.3vw;
    font-weight: bold;
    color: black;
}

.nav-link:hover {
  color: #ad3a4b;
}

.line{
  	position: absolute;
  	width: 40px;
  	height: 4px; 
  	background: #ad3a4b;
}

.line-up {
  	top: 5px;
}

.line-down {
  	top: 20px;
}

.line-up, .line-down {
  	-o-transition: all 0.25s;
  	-moz-transition: all 0.25s;
  	-webkit-transition: all 0.25s;
  	transition: all 0.25s;
}

.up {
	top: 5px;
}

.down {
  	top: 20px;
}

.flip-up{
  	top: 10px;
  	transform: rotate(135deg);
}

.flip-down {
  	top: 10px;
  	transform: rotate(-135deg);
}

.fa {
	margin-right: 10px;
}

.active {
    color: #ad3a4b;
}

#header-logo {
	position: fixed;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	top: 0%;
  	left: 9%;
	z-index: 100;
}

.header-logo-link {
	font-family: 'Monoton', cursive;
	font-size: 2.5vw;
	text-decoration: none;
	color: #ad3a4b;
}

.header-logo-link:hover {
    color: black;
}
/*
***********************************
	header end
***********************************
*/
/*
***********************************
    main start
***********************************
*/
main {
    color: white;
    position: absolute;
    height: 81vh;
    width: 100vw;
    top: 8%;
}

.main-background {
	position: absolute;
    height: 81vh;
    width: 87vw;
    left: 7%;
    top: 8%;
	background: rgba(23, 30, 39, 1);
	z-index: -1;
}
/*
***********************************
    main end
***********************************
*/
/*
***********************************
	footer start
***********************************
*/
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 80px;
}

.footer-links-grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 110px);
    align-items: center;
    justify-content: center;
}

.footer-links-grid > a {
	font-size: 2.8vw;
  	color: #ad3a4b;
    text-align: center;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.link-gth:hover, .link-cdp:hover {
    color: black;
    transform: scale(1.2);
}

.link-fcc:hover {
    color: #006400;
    transform: scale(1.2);
}
/*
***********************************
	footer end
***********************************
*/
/*
***********************************
    home start
***********************************
*/
.home {
	position: relative;
	left:15%;
	text-align: left;
	width: 80%;
}

.home h1 {
    padding-top: 10%;
    padding-bottom: 110px;
    font-size: 7vw;
    font-weight: normal;
}

.home h2, .home h3 {
    font-size: 3vw;
    color: rgba(211, 211, 211, 0.5);
}

.home-name {
	font-family: 'Source Code Pro';
	color: white;
}

.home-name:hover, .home-greetings:hover {
    color: #ad3a4b;
}

.home-greetings {
    font-family: 'Source Code Pro';
}
/*
***********************************
    home end
***********************************
*/
/*
***********************************
    skills start
***********************************
*/
.skills-grid {
    position: relative;
    left: 10%;
    top: 8%;
    display: grid;
    width: 35%;
    height: 80%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    color: black;
    font-weight: bold;
}

.skills-grid-block {
    background: white;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-start;
}

.skills-grid-block i {
    font-size: 3.5vw;
    align-self: flex-end;
    color: rgb(23, 30, 39);
}

.skills-grid-block-lang {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2vw;
}

.skills-grid-block-HTML5:hover i {
    color: #f14a29;
}

.skills-grid-block-CSS3:hover i {
    color: #3B5998;
}

.skills-grid-block-JavaScript:hover i {
    color:  #f0db4f;
}

.skills-grid-block-React:hover i {
    color: #52d3fa;
}

.skills-grid-block-jQuery:hover i {
    color: #0769AD;
}

.skills-grid-block-NodeJS:hover i {
    color: #66cc33;
}

.skills-grid-block-Bootstrap:hover i {
    color: #080135;
}

.skills-grid-block-SCSS:hover i {
    color: #c69;
}

.skills-grid-block-Git:hover i {
    color: #F1502F;
}

i.icon-javascript-alt, i.icon-nodejs {
    width: 50px;
}

.skills-grid-block:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
}

.skills-story {
    color: white;
    position: absolute;
    height: 100%;
    width: 45vw;
    left: 49%;
    top: 0;
    line-height: 3vw;
    text-align: justify;
    display: grid;
    word-break: break-all;
    grid-template-rows: 0.96fr;
    grid-template-columns: 0.7fr;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    z-index: 10;
}

.skills-story > div > b {
    font-style: italic;
    /* font-weight: 900; */
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
/*
***********************************
    skills end
***********************************
*/
/*
***********************************
    contacts start
***********************************
*/
.contacts-container {
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    padding-top: 3%;
}

.contacts-form {
    display: grid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    grid-template-rows: repeat(3, 0.1fr) 0.4fr 0.1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
    align-items: center;
}

.contacts-form-control {
    font-family: inherit;
    height: 100%;
    padding-left: 30px;
    outline: none;
    font-size: 16px;
    border: 1px solid #dbe2e8;
    box-shadow: 5px 5px 10px 0 rgba(46,61,73,0.05);
    border-radius: 6px;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.contacts-form-control:hover {
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
}

.contacts-form-control:focus {
    box-shadow: none;
    border-color: #ad3a4b;
}

.contacts-header {
    color: #ad3a4b;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.2vw;
}

#email {
    grid-column-start: 1;
    grid-column-end: 3;
}

#comment {
    height: 100%;
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#subject {
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn {
    font-family: inherit;
    color: white;
    margin: auto;
    width: 200px;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    background: #dc3545;
    border: none;
    border-radius: 5px;
    outline: none;
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn:hover {
    background: #c82333;
}
/*
***********************************
    contacts end
***********************************
*/
/*
***********************************
    projects start
***********************************
*/
#carousel {
    position: relative;
    width: 87vw;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-elements-container {
    width: 25000px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    transition: all 0.7s;
}

.carousel-elements-container li {
    display: block;
    float: left;
    height: 100%;
    width: 87vw;
}

.project-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /*opacity: 0.01;*/
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* .project-container.move-to-left {
   opacity: 0.01;
    transform: translateX(1500px);
}

.project-container.move-to-right {
    opacity: 0.01;
    transform: translateX(-1500px);
    left: -100px;
}

.project-container.appear {
   opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
} */

.project-imgs {
    align-self: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.project-imgs:hover {
    transform: scale(1.05);
}

.project-definition {
    color: black;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
}

.project-external-links {
    align-self: flex-start;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.project-external-links a {
    position: relative;
    margin-top: 30px;
    display: inline-block;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.project-external-links a:hover {
    color: #ad3a4b;
}

.project-external-links a:before {
    content: "";
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 3px;
    bottom: -7px;
    background-color: #ad3a4b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.project-external-links a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.project-technologies span {
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.3vw;
    color: white;
    background-color: rgba(23, 30, 39, 1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.project-technologies span:hover {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.project-name {
    font-size: 3vw;
    /* color: #271726; */
}

.project-description {
    /*text-align: justify;*/
    font-size: 1.5vw;
}

.project-imgs img {
    max-width: 80%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.arrow {
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 45%;
    color: black;
    cursor: pointer;
    font-size: 50px;
    z-index: 1000;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.arrow:hover {
    background-color: #e0e0e0;
    transform: scale(1.2);
}

.arrow-left i {
    position: relative;
    left: 27%;
    top: -10%;
}

.arrow-right i {
    position: relative;
    left: 38%;
    top: -10%;
}

.arrow-left {
    left: 0.5%;
}

.arrow-right {
    right: 0.5%;
}
/*
***********************************
    projects end
***********************************
*/

.loading {
    margin: 0 auto;
    margin-top: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes background-50-to-50-right {
    0% {
        width: 42vw;
        left: 7%;
    }
    50% {
        width: 87vw;
        left: 7%;
    }
    100% { 
        width: 45vw;
        left: 49%;
    }
}

@keyframes background-50-to-50-left {
    0% { 
        width: 45vw;
        left: 49%;
    }
    50% {
        width: 87vw;
        left: 7%;
    }
    100% {
        width: 42vw;
        left: 7%;
    }
}

@keyframes background-100-to-0-right {
    0% {
        width: 87vw;
        left: 7%;
    }
    100% { 
        width: 0vw;
        left: 94%;
    }
}

@keyframes background-50-right-to-0-right {
    0% {
        width: 45vw;
        left: 49%;
    }
    100% { 
        width: 0vw;
        left: 94%;
    }
}

@keyframes background-50-left-to-0-right {
    0% {
        width: 42vw;
        left: 7%;
    }
    50% {
        width: 87vw;
        left: 7%;
    }
    100% { 
        width: 0vw;
        left: 94%;
    }
}

@keyframes background-0-to-100-left {
    0% {
        width: 0vw;
        left: 94%;
    }
    100% { 
        width: 87vw;
        left: 7%;
    }
}

@keyframes background-0-to-50-left {
    0% {
        width: 0vw;
        left: 94%;
    }
    50% {
        width: 87vw;
        left: 7%;
    }
    100% { 
        width: 42vw;
        left: 7%;
    }
}

@keyframes background-100-to-50-left {
    0% {
        width: 87vw;
        left: 7%;
    }
    100% {
        width: 42vw;
        left: 7%;
    }
}

@keyframes background-100-to-50-right {
    0% {
        width: 87vw;
        left: 7%;
    }
    100% {
        width: 45vw;
        left: 49%;
    }
}

@keyframes background-50-to-100-right {
    0% {
        width: 42vw;
        left: 7%;
    }
    100% {
        width: 87vw;
        left: 7%;
    }
}

@keyframes background-50-to-100-left {
    0% {
        width: 45vw;
        left: 49%;
    }
    100% {
        width: 87vw;
        left: 7%;
    }
}

@keyframes background-0-to-50-right {
    0% {
        width: 0vw;
        left: 94%;
    }
    100% {
        width: 45vw;
        left: 49%;
    }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.disabled-link {
  pointer-events: none;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/*
***********************************
    media query start
***********************************
*/
@media screen and (max-width: 1299px) {
    .line{
        width: 30px;
        height: 3px; 
    }
    .line-up {
        top: 10px;
    }

    .line-down {
        top: 20px;
    }
    .up {
        top: 10px;
    }

    .down {
        top: 20px;
    }
    .flip-up{
        top: 15px;
        transform: rotate(135deg);
    }

    .flip-down {
        top: 15px;
        transform: rotate(-135deg);
    }
    #header-logo {
        top: 1%;
    }
    #reverse-lines {
        top: 2%;
    }
    .nav-link {
        font-size: 1.5vw;
    }
    main {
        height: 70vh;
        top: 14%;
    }
    .main-background {
        height: 70vh;
        top: 14%;
    }
    i.icon-javascript-alt, i.icon-nodejs {
        width: 20px;
    }
    .skills-grid {
        top: 14%;
        height: 70%;
    }
    .skills-grid-block i {
        font-size: 3vw;
        align-self: flex-end;
        color: rgb(23, 30, 39);
    }
    .contacts-container {
        width: 60vw;
        padding-top: 0%;
    }
    .contacts-form-control {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .header-logo-link {
        font-size: 35px;
    }
    #reverse-lines {
        top: 3%;
    }
    .footer-links-grid > a {
        font-size: 5vw;
        text-align: center;
    }
    .navbar-list {
        padding-top: 10px;
        grid-template-columns: repeat(4, 130px);
    }
    .nav-link {
        font-size: 2vw;
    }
}

@media screen and (max-width: 662px) {
    main {
        height: 79vh;
        width: 100vw;
        top: 11%;
    }
    .main-background {
        height: 79vh;
        top: 11%;
        width: 86.5vw;
    }
    .footer-links-grid {
        align-items: flex-end;
        padding-bottom: 10px;
    }
    .footer-links-grid > a {
        font-size: 8vw;
        text-align: center;
    }
    .home h1 {
        padding-top: 30%;
        font-size: 8vw;
    }
    .home h2, .home h3 {
        font-size: 5vw;
    }
    .navbar {
        background-color: #f2f2f2;
        z-index: 2000;
    }
    .navbar-show {
        height: 50vh;
    }
    .navbar-list {
        padding: 0;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    .nav-link {
        padding: 0;
        font-size: 25px;
    }
    .arrow {
        display: none;
    }
    #carousel {
        overflow: inherit;
    }
    .carousel-elements-container {
        width: 87vw;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .carousel-elements-container li {
        display: block;
        float: none;
        height: auto;
        margin-bottom: 40px;
    }
    .project-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 220px;
        justify-items: stretch;
    }
    .project-definition {
        padding-top: 20px;
        grid-template-rows: 20px 110px 30px 30px;
        grid-template-columns: 1fr;
    }
    .project-name {
        font-size: 5vw;
        color: white;
    }
    .project-description {
        font-size: 2.8vw;
        color: white;
    }
    .project-technologies span {
        font-size: 2.8vw;
        padding: 5px 5px;
        color: rgba(23, 30, 39, 1);
        background-color: white;
    }
    .project-external-links {
        align-self: center;
    }
    .project-external-links a {
        color: white;   
        font-size: 2.8vw;  
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    .contacts-container {
        width: 100%;
    }
    .contacts-header {
        color: white;
        font-size: 25px;
        padding-top: 15px;
        margin-bottom: 20px;
    }
    .contacts-form {
        width: 80vw;
        height: 85%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr 0.8fr;
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }
    #first-name {
        height: 80%;
    }
    #last-name {
        height: 80%;
    }
    #email {
        height: 80%;
        grid-column-start: inherit;
        grid-column-end: inherit;
    }
    #comment {
        height: 80%;
        grid-column-start: inherit;
        grid-column-end: inherit;
    }
    #subject {
        height: 80%;
        grid-column-start: inherit;
        grid-column-end: inherit;
    }
    .btn {
        font-size: 18px;
        height: 90%;
        grid-column-start: inherit;
        grid-column-end: inherit;
    }
    .contacts-form-control {
        height: auto;
    }
    .skills-story {
        position: relative;
        height: 60px;
        padding-top: 40px;
        padding-left: 35px;
        width: 78vw;
        left: 7%;
        top: 11%;
        line-height: 5vw;
        display: block;
        font-size: 4vw;
    }
    .skills-grid {
        top: 25%;
        width: 81vw;
        height: 55%;
        grid-gap: 10px;
    }
    .skills-grid-block {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .skills-grid-block i {
        font-size: 13vw;
        align-self: center;
    }
    i.icon-javascript-alt, i.icon-nodejs {
        width: 40px;
    }
}
/*
***********************************
    media query end
***********************************
*/